[Unit]
Description="demo-server"
After=network.target

[Service]
User=cstadmin2
WorkingDirectory=/opt/deployments
ExecStart=/usr/bin/python demo_flask_server.py 
Restart=on-failure

[Install]
WantedBy=multi-user.target
